<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    <small><%= link_to icon(:chevron_left), pages_path %></small>
    <%= @page.title %>
    <small><%= link_to icon(:edit), edit_page_path(@page) %></small>
  </h1>
</div>

<div class="list-group">
  <%= render @page.notes %>
  <%= link_to 'New Note', new_page_note_path(@page), class: 'list-group-item' %>
</div>
